<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Spring Boot Thymeleaf Application</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap-css/bootstrap.min.css}">
</head>
<body>


<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-8">
            <h3>Creating a table using Thymeleaf</h3>
            <table class="table table-striped">
                <tr>
                    <th>Subject</th>
                    <th>Category</th>
                    <th>Language</th>
                </tr>
                <tr th:each="subject: ${subjects}">
                    <td th:text="${subject.name}" />
                    <td th:text="${subject.category}" />
                    <td>
                        <span th:if="${subject.name} == 'Java'" th:text="Java" />
                        <span th:unless="${subject.name} == 'Java'" th:text="Other" />

                    </td>
                </tr>
            </table>

            <h3>Creating a list using Thymeleaf</h3>

            <ul class="list-group">
                <li class="list-group-item" th:each="subject : ${subjects}"
                    th:text=${subject.name}>
                </li>
            </ul>
        </div>
    </div>
</div>

<script th:src="@{/js/bootstap-js/bootstrap.bundle.js}"></script>
</body>
</html>